@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --bg-color: #fff;
  --text-color: #000;
}
[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark{
  background-color: #0a0a0a;
  color: #ededed;
}
.light{
  background-color: #ededed;
  color: #0a0a0a;
}
.gridContainer{
  /* display:grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-gap: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* .modal {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 5fr;
  height: fit-content;
  padding: 2%;
  border-radius: 3%;
  z-index: 1; 
  color: #0a0a0a;
  background-color: #ededed;
} */

/* .modal {
  position: fixed;
  top: 25%;
  left: 35%;
  bottom: 25%;
  padding: 2%;
  border-radius: 3%;
  z-index: 1;
  color: #0a0a0a;
  background-color: #ededed;
} */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the modal */
  width: fit-content; /* Adjusts width to content */
  height: fit-content;
  padding: 2%;
  border-radius: 3%;
  z-index: 1;
  /* color: #0a0a0a;
  background-color: #ededed; */
  text-align: center;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
  /* background-color: #ededed;
  color:#0a0a0a; */
}

.optionsBtn{
  position: absolute;
  left:1%;
  top:1%;
}